
.blur-bg {
  filter: blur(25px);
  -webkit-filter: blur(25px);
}

.item-container {
  _max-width: 1200px;
  padding: 2rem;
  width: 90vw;
  height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  _border: 10px solid white;
  border-radius: 5px;
  transition: all 0.6s;
  overflow-y: scroll;
  overflow-x: hidden;
}

.close {
  _width: 8vw;
  _height: 6vw;
  position: relative;
  left: 97%;
  _border: 10px solid white;
  _border-radius: 5px;
  _padding: 10px;
}

.close i {
  color: white;
  font-size: 50px;
}

.hide {
  opacity: 0;
}
