.content-container {
  margin: 0 auto;
  margin-top: 3rem;
  _width: 85vw;
  _height: 85vh;
  _border: 5px solid white;
}

.item-details {
  color: #ffd400;
  font-size: 2rem;
}

.item-details .data,
.item-details .img {
  border: 5px double white;
  border-radius: 5px;
}

.item-details p,
.item-details ul {
  padding: 2rem;
}

.item-details .list::before {
  content: attr(list-label);
  margin-left: -15px;
}
