.content-container {
    _margin-top: 5rem;
    margin: 0 auto;
    _width:  85vw;
    _height: 85vh;
    border: 5px solid white;
}

.item-details  {
    color: white;
    font-size: 2rem;
}

.item-details .list::before {
    content: attr(list-label);
}