.new-comment-container {
  margin-top: 2rem;
  text-align: center;
}

.new-comment-container .title {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

form {
  position: relative;
}

.new-comment-container [name='name'],
.new-comment-container [name='comment'] {
  font-size: 150%;
  padding: 1.5rem;
  margin-top: 1rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.comment-btn {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 60px;
  height: 60px;
  border-radius: 10000px;
  border: transparent;
  background: linear-gradient(147deg, #7e31a700 0%, #0b0a0a 74%);
  background-color: #c123de;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.comment-btn i {
  color: #ffd400;
  font-size: 2rem;
}

.comment-btn:hover {
  background: white;
}

.comment-btn:active {
  bottom: 4.5%;
  box-shadow: 0 0 5px #0e0e0e;
}

form .flash-msg {
  position: absolute;
  top: 85%;
}
