* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 0.625rem;
  height: 100%;
}

#Title {
  font-family: 'MedievalSharp', cursive;
  font-size: 5rem;
}

.navbar-icon {
  width: 75px;
}

.nav-text {
  font-family: 'Play', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 10px;
}

.nav-text:hover {
  color: #dadada !important;
  background-color: #4c92d8;
}

body {
  background-color: rgb(128, 73, 150);
  height: 100%;
}

.container {
  height:90%;
  max-width: 100vw;
  backface-visibility: hidden;
  transition: filter 0.3s;
}

.footer {
  height: 53px;
  font-size: 1.5rem;
  padding-top: 12px;
}
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.y-axis-center {
  align-items: center;
}
