* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 0.625rem;
  height: 100%;
}

#Title {
  font-family: 'MedievalSharp', cursive;
  font-size: 5rem;
  color: #d1ba36;
}

.navbar-icon {
  width: 75px;
}

@media only screen and (min-width: 1200px) {
  #grid {
    margin-left: 25rem;
    margin-right: 25rem;
  }
}

@media only screen and (max-width: 1199px) {
  #grid {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.list-element {
  background: rgb(186, 49, 209);
  background: radial-gradient(circle, rgba(49, 117, 209, 0.5298494397759104) 0%, rgba(19, 63, 128, 0.40940126050420167) 49%, rgba(60, 80, 150, 0.5410539215686274) 100%);
  border-color: #d1ba36;
  border-radius: 15px;
}

.civ-img-style {
  width: 90px;
}

.civ-button {
  border: 5px double #d1ba36;
  border-radius: 6px;
  font-size: 1.5rem;
  color: rgb(221, 213, 201) !important;
}

.civ-text-style {
  color: antiquewhite;
}

.nav-text {
  font-family: 'Play', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 10px;
}

.nav-text:hover {
  color: #dadada !important;
  background-color: #4c92d8;
}

body {
  _background-color: rgb(128, 73, 150);
  background-color: #923cb5;
  background-image: linear-gradient(147deg, #923cb5 0%, #000 74%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  _height: 90%;
  max-width: 100vw;
  backface-visibility: hidden;
}

.container,
nav,
footer {
  transition: filter 0.3s;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 53px;
  font-size: 1.5rem;
  padding-top: 12px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.y-axis-center {
  align-items: center;
}
