

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


#Title{
  font-family: 'MedievalSharp', cursive;
  font-size: 5rem;
}

.navbar-icon {
  width: 75px;
}

body {
  background-color: rgb(128, 73, 150);
}

.container {
  height: 100vh;
  max-width: 1200px;
  backface-visibility: hidden;
  transition: filter 0.3s;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.y-axis-center {
  align-items: center;
}
